
/*General styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/*Navigation styles*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px 3px 10px; /* moins de padding en bas */
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0; /* or bottom: -2px */
    background-color: #fff;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/*Main styles*/
main {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/*Home styles and configuration*/
#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    gap: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-wrap: wrap;
}

.home-text {
    flex: 1;
    min-width: 300px;
    box-shadow: none;
}

/* profile photo style*/
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 3px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*footer styles*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 30px;
}
